
<div id="homepage">
 <div class="jumbotron">
    <h1 class="display-4">KODI { Post your code }</h1>
    <p class="lead">Post Code in Real-time with Developers!</p>
    <hr class="my-4">
    <p>Code with your team.Write and post code, then share it with friends and colleagues. Pair program and troubleshoot together.</p>
    <p>
            <a href="signup" class="btn btn-primary my-2">Create an Account</a>
            <a href="login" class="btn btn-secondary my-2">Sign In</a>
   </p>
 </div>
</div>

