<div class="container row">
 <div class="jumbotron-col-sm-4 pull-center">
    <form action="/views/login.handlebars" method="post" id="signIn">
      <div>
          <label>Username:</label>
          <input type="text" name="username" id="userName" />
      </div>
      <div>
           <label>Password:</label>
           <input type="password" name="password" id="userPassword"/>
      </div>
      <div>
          <button class="btn-btn-primary" type="submit" value="signIn" id="signInButton">Sign In</button>
      </div>
     
    </form>
 </div>
