<<<<<<< HEAD
<div class="container row">
 <div class="jumbotron-col-sm-4 pull-center">
    <form action="/views/login.handlebars" method="post" id="signIn">
=======


<div class="container">
                
  <div class="row justify-content-center">
    
    <div class="card p-3" style="width: 20rem; background-color:rgba(235, 230, 230, 0.959);">
    <div class="card-body">
    <h3 class="card-title">Please Login</h3>
<<<<<<< HEAD
    <form action="/views/login.hbs" method="post">
>>>>>>> 23b4e7287609d1b5eeb7e8f4dc4ab609fd7be508
=======
    <form action="/login" method="post">
>>>>>>> main
      <div>
          <label>Username:</label>
          <input type="text" name="username"/>
      </div>
      <div>
          <label>Password:</label>
           <input type="password" name="password" id="userPassword"/>
      </div>
      <br>
      <div>
      <button class="btn-btn-primary" type="submit" value="signIn" id="signInButton">Sign In</button>
      </div>
    
    </form>
    </div>
    </div>
  </div>

    
