
<div class="container">

<div class="row justify-content-center">

<div class="card" style="width: 20rem; background-color: darkgray;">
<div class="card-body">
<h3 class="card-title">Please Login</h3>
<form action="/views/signup.hbs" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" id="newUser/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" id="newPassword"/>
    </div>
    <br>
    <div>
        <button class="btn-btn-primary" type="submit" id="signUpButton"  value="Login">Register</button>
    </div>

</form>
</div>
</div>
</div>

