
<div class="container">

<div class="row justify-content-center">

<div class="card" style="width: 20rem; background-color: rgba(240, 233, 233, 0.884);">
<div class="card-body">

<h4 class="card-title text-center">Register</h4>
<form action="/api/signup" method="post">

    <div class="form-group mb-2">
        <label for ="exampleFormControlInput1">First Name:</label>
        <input type="text" name="username" id="firstName"/>
    </div>
     <div class="form-group mb-2">
        <label for ="exampleFormControlInput1">Last Name:</label>
        <input type="text" name="username" id="lastName"/>
    </div>
    <div class="form-group mb-2">
        <label for ="exampleFormControlInput1">Username:</label>
        <input type="text" name="username" id="newUser"/>
    </div>
    <div class="form-group mb-2"></div>
        <label for ="inputPassword">Password:</label>
        <input type="password" name="password" id="newPassword"/>
    </div>
    <br>
    <div>
        <button class="btn btn-info" type="submit" id="signUpButton"  value="Login">Register</button>
    </div>

  </form>
 </div>
 </div>
 </div>

