<<<<<<< HEAD
<div class = "container">
    <div class = "row col-sm-4 text-center">
        <form class="signup">
          <div class="form-group">
            <label>User Name</label>
            <input type="userName" class="form-control" id="username-input" placeholder="User Name">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" id="password-input" placeholder="Password">
          </div>
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
          <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
=======

<div class="container">

<div class="row justify-content-center">

<div class="card" style="width: 20rem; background-color: darkgray;">
<div class="card-body">
<h3 class="card-title">Please Login</h3>
<form action="/views/signup.handlebars" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username" id="newUser"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password" id="newPassword"/>
    </div>
    <br>
    <div>
        <button class="btn-btn-primary" type="submit" id="signUpButton"  value="Login">Register</button>
>>>>>>> 23b4e7287609d1b5eeb7e8f4dc4ab609fd7be508
    </div>
</div>

<<<<<<< HEAD
<script src = "/assets/js/signUp.js"></script>
=======
</form>
</div>
</div>
</div>
>>>>>>> 23b4e7287609d1b5eeb7e8f4dc4ab609fd7be508
